body{
  background: #343d46;
  color:white;
  padding-top: 70px;
}

.box{
  margin: 10px auto;
  width: 300px;
  height: 50px;
}

.container-1{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-1 input#search{
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}

.container-1 input#search::-webkit-input-placeholder {
   color: #65737e;
}

.container-1 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;
}

.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;
}

.container-1 input#search:-ms-input-placeholder {
   color: #65737e;
}

.container-1 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}

.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: #ffffff;
  }
  .p {
    font-color: white;
  }




// .card-container {
//   display: flex;
//   flex-direction: column; //Changing orientation to put elements vertically
//   flex-wrap: wrap; //Wrap any leftover to the next row
//   max-height: 1400px; //Wrap only works if the height is set explicitly
// }

// .card {
//   height: 250px;
//   width: 220px;
//   background-color: #741938;
//   margin-bottom: 1rem;
//   margin-right: 1rem;
// }

// .card:nth-child(odd){
//   background-color: #C61951;
// }

