/* Main navbar */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: rgb(213, 229, 215);
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 10;
}

/* Logo */
.navbar-wagon-brand img {
  height: 50px;
  margin-right: 20px;
  vertical-align: middle;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: #616668;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.nav-search {
  display: flex;
  align-items: center;
  border-radius: 100px;
}

.search-bar{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;

}

#magnify {
  position: absolute;
  right: 10px;
  bottom: 8px;
}

.search-bar input#search{
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 80px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 100px;
  border-radius: 100px;

  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}

.search-bar input#search::-webkit-input-placeholder {
   color: #65737e;
}

.search-bar input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;
}

.search-bar input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;
}

.search-bar input#search:-ms-input-placeholder {
   color: #65737e;
}

// // .search-bar .icon{
// //   position: absolute;
// //   margin-left: 17px;
// //   margin-top: 17px;
// //   z-index: 1;
// //   color: #4f5b66;
// // }

.search-bar input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: #ffffff;
  }
  // .p {
  //   font-color: white;
  // }
